body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #e1dce4;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: black 1.5px solid;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1_armazen {
    color: black;
    align-self: center;
    justify-self: center;
    margin-left: 10%;
}

.sel_armazem {
    position: relative;
    top: 20px;
    left: 30vh;
    border-radius: 10px 0px 10px 0px;
    background-color: #561598b7;
    color: white;
    cursor: pointer; 
    border: 2px solid white;
    box-shadow: 0 0 0 0px white, 0 0 0 2px #561598, 0 2px 4px rgba(0,0,0,0.2);

}

.conteudo {
    display: flex;
    justify-content: center;
    margin-top: 3.5%;
    margin-left: 5%;
}


.div_kpi1{
 margin-right: 15%;
 align-items: center;
 align-self: center;
   justify-self: center;
   text-align: center
   ;
}

.num1 {
    color: white;
    border-radius: 10px 0px 10px 0px;
    cursor: pointer; 
    border: 2px solid white;
    box-shadow: 0 0 0 0px white, 0 0 0 2px #561598, 0 2px 4px rgba(0,0,0,0.2);
    background-color: orange;
    height: 9vh;
    width: 10vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.div_kpi2{
   
  align-items: center;
  align-self: center;
    justify-self: center;
    margin-right: 15%;
 }
 
 .num2 {
    color: white;
    border-radius: 10px 0px 10px 0px;
    cursor: pointer; 
    border: 2px solid white;
    box-shadow: 0 0 0 0px white, 0 0 0 2px #561598, 0 2px 4px rgba(0,0,0,0.2);
    background-color: lightgreen;
    height: 9vh;
    width: 10vh;
    justify-content: center;
    display: flex;
    align-items: center;

 }

 .div_kpi3{
     margin-left: 10%;
     margin-right: 15%;
  align-items: center;
  align-self: center;
    justify-self: center;
 }
 
 .num3 {
    color: white;
    border-radius: 10px 0px 10px 0px;
    cursor: pointer; 
    border: 2px solid white;
    box-shadow: 0 0 0 0px white, 0 0 0 2px #561598, 0 2px 4px rgba(0,0,0,0.2);
    background-color: red;
    height: 9vh;
    width: 10vh;
    justify-content: center;
    display: flex;
    align-items: center;
 }

 .div_kpi4{
    
  align-items: center;
  align-self: center;
    justify-self: center;
 }
 
 .num4 {
     color: white;
     border-radius: 10px 0px 10px 0px;
     cursor: pointer; 
     border: 2px solid white;
     box-shadow: 0 0 0 0px white, 0 0 0 2px #561598, 0 2px 4px rgba(0,0,0,0.2);
     background-color: lightgreen;
     height: 9vh;
     width: 10vh;
     justify-content: center;
     display: flex;
     align-items: center;
 }

.graficos {
    margin-top: 2.5%;
    height: 50vh;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
}

.grafico {
    width: 45%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1dce438;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px 0px 30px 0px;
}

.grafico2 {
    width: 45%;
    height: 95%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1dce438;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px 0px 30px 0px;
}

.atual1 {
    align-self: center;
    display: flex;
    position: relative;
    right: 30px;
    top: -5px;
}

.media1 {
    align-self: center;
    display: flex;
    position: relative;
    right: 30px;
    top: -5px;
}

.atual2 {
    align-self: center;
    display: flex;
    position: relative;
    right: 25px;
    top: -5px;
}

.media2 {
    align-self: center;
    display: flex;
    position: relative;
    right: 25px;
    top: -5px;
}


/*Adiconar:

alinhar texto com as caixas das kpis */