body{
  margin:0;
  padding:0;
  color: #242424;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  align-items: center;
  text-align: center;
}  

header{
  margin: 0;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  padding-bottom: 30px;
  background-color: rgb(207, 205, 207);
  border-bottom: 4px solid #b544c4;
}

.logo{
  margin-left: 10px;
}

.menu{
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 650px;
  width: 1500px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: left;
}

.card{
  background-color: #e1dce4;
  width: 55vw;
  height: 55vh;
  text-align: justify; 
  border-radius: 35px 0px 35px 0px;
  padding: 20px;
}

mark {
  -moz-animation: 1.5s highlight 1.5s 1 normal forwards;
  -o-animation: 1.5s highlight 1.5s 1 normal forwards;
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
          animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #511ed1a7 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

#a_confirmar{
  text-decoration: none;
  color: #FFFF;
}

#a_conta{
  text-decoration: none;
  color:#FFFF ;
}

#a_conta:hover{
  text-decoration: underline;

}

.btn:hover{
  transform: scale(1.1);
  transition: all 1.5s;
}

.menu a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px; 
}

.select{
  background:  no-repeat center right #FFF;
  border: 1px solid #333;
  font-size: 15px;
  padding-right: 20px;
}

.button{
  background-color: #561598;
  color: white;
  border-radius: 10px 0px 10px 0px;
  width: 130px;
  height: 35px;
  cursor: pointer; 
  border: 2px solid white;
  box-shadow: 0 0 0 0px white, 0 0 0 2px #561598, 0 2px 4px rgba(0,0,0,0.2);
  transition-duration: 2s;  
}

.button:hover {
  background-color: #561598;
  color: white;
  transform: scale(1.1)
}

.button01{
  border: 0;
  background-color: #561598;
  color: white;
  border-radius: 10px 0px 10px 0px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 0 0px white, 0 0 0 2px #561598, 0 2px 4px rgba(0,0,0,0.2);
  transition-duration: 2s;  
}

.button01:hover {
  background-color: #561598;
  color: white;
  transform: scale(1.1)
}

select{
  border-radius: 10px 0px 10px 0px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid white;
  box-shadow: 0 0 0 0px white, 0 0 0 2px #561598, 0 2px 4px rgba(0,0,0,0.2);
}

.modal_container{
  background-color: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  height: 100vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;  
  transition: opacity 0.3s ease;
}

.modal_container.show{
  opacity: 1;
  pointer-events: auto;
}

.modal{
  background-color: #FFF;
  width: 600px;
  max-width: 100%;
  border-radius: 15px;
  padding: 30px 50px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  text-align: center;
}

.modal h1{
  margin: 0;
}

.modal p{
  font-size: 14px;
  opacity: 0.7;
}

input{
  border-radius: 10px 0px 10px 0px;
  border: 2px solid white;
  box-shadow: 0 0 0 0px white, 0 0 0 2px #561598, 0 2px 4px rgba(0,0,0,0.2);
}

section.module p{
  margin-bottom: 40px;
}

section.module:last-child{
  margin-bottom: 0;
}

section.module h2{
  margin-bottom: 40px;
  font-size: 30px;
}

section.module.content{
  padding: 40px 0;
  background: #e1dce4; 
}

section.module.parallax{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
}

section.module.parallax:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
  background: -o-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
} 



section.module.imagemHome1{
  background-image: url("https://images.unsplash.com/photo-1603657289433-e4983d2114b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
}

section.module.imagemHome2{
  background-image: url("https://images.unsplash.com/photo-1506377247377-2a5b3b417ebb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

section.module.imagemHome3{
  background-image: url("https://images.unsplash.com/photo-1618396478912-c09676962947?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

section.module.imagemHome4{
  background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

section.module.imagemHome5{
  background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

section.module.imagemHome6{
  background-image: url("https://images.unsplash.com/photo-1606298393349-4b117939dea0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=771&q=80");
}

section.module.parallax h1{
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 78px;
  z-index: 50;
  text-transform: uppercase;  
  transition-duration: 2s;  
}

section.module.parallax h1:hover {
  color: white;
  transform: scale(1.1)
}

.spanNegrito{
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold
}

.caixaDeTexto {
  text-align: justify;
  margin: 0vh 20vh;
}

@media all and (max-width: 820px) {

section.module h2 {
  font-size: 32px;
}

.module h2, p{
  padding: 0 8px;
}

.container{
  margin:0;
  padding:0;
}

section.module.parallax h1 {
  font-size: 36px;
}
}


.footer {
  height: 60px;
  padding: 10px;
  padding-bottom: 30px;
  background-color: rgb(207, 205, 207);
  color: black;
}

.botao{
  padding: 5px;
  border: 0;
  background-color: #561598;
  color: #b6b6b6 !important;
  border-radius: 10px 0px 10px 0px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 0 0px white, 0 0 0 2px #561598, 0 2px 4px rgba(0,0,0,0.2);
  transition-duration: 2s; 
}

.fundoGradiante{ 
  align-items: center;
  text-align: center;
  background-image: linear-gradient( to right, rgb(195, 0, 255), rgb(99, 9, 9) ); 
  height: 500px;
  width: 100%;
  padding-top: 5px;
}

.fundoGradianteCadastro{ 
  align-items: center;
  text-align: center;
  background-image: linear-gradient( to right, rgb(195, 0, 255), rgb(99, 9, 9) ); 
  height: 850px;
  width: 100%;
  padding-top: 5px;
}

.fundoBranco{
  padding-top: 30px;
  align-items: center;
  text-align: center;
  background-color: #b6b6b6;
  border-radius: 30px 0px 30px 0px;
  font-weight: bolder;
  font-size: larger;
  height: 290px;
  width: 400px;
  margin-left: 35%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.418) 0px 5px 12px;
}

.fundoBrancoCadastro{
  padding-top: 30px;
  align-items: center;
  text-align: center;
  background-color: #b6b6b6;
  border-radius: 30px 0px 30px 0px;
  height:650px;
  width: 400px;
  margin-left: 35%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
<<<<<<< HEAD
  font-weight: bolder;
=======
  box-shadow: rgba(0, 0, 0, 0.418) 0px 5px 12px;
>>>>>>> 0d1aa3e15d48ae1685e3cd6e99743c683096a30b
}

.Texto{
  color: #b6b6b6;
  text-align: center;
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.BotaoLogin{
  border: 0;
  background-color: #561598;
  color: white;
  border-radius: 10px 0px 10px 0px;
  width: 120px;
  height: 30px;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 0 0px white, 0 0 0 2px #561598, 0 2px 4px rgba(0,0,0,0.2);
  transition-duration: 2s; 
}

